@model SUM.Models.Parametros

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Parametros</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Cantidad de dias previo cancelacion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cd_dias_previos_cancelacion)
        </dd>

        <dt>
           Consorcio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consorcio.tx_descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.cd_consorcio }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
